.lemon__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.lemon__navbar-image {
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.lemon__navbar-btn_links {
  gap: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lemon__navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.login-btn {
  display: flex;
  width: 80px;
  height: 36px;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: Karla;
  font-weight: 600;

  border-radius: 10px;
  background: var(--Color-Primary-Light);
  cursor: pointer;
}

.login-loggedin {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}

.login-loggedin_user {
  display: flex;
  background: none;
}

.login-loggedin_user-svg {
  fill: var(--Color-Primary) !important ;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.login-loggedin_cart {
  display: flex;
  position: relative;
  padding: 7px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-radius: 10px;
  background: var(--Color-Highlight-Light);
  cursor: pointer;
}

.login-loggedin_cart-svg {
  fill: var(--Color-Primary);
  width: 25px;
  height: 21px;
}

.login-loggedin_cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;

  color: var(--Color-Primary);
  font-size: 14px;
  font-family: var(--Font-Secondary);
  font-weight: 700;
  background-color: var(--Color-Primary-Light);
}

.lemon__navbar-menu_container p {
  padding: 0.5rem 0;
}

.lemon__navbar-links a:any-link,
.lemon__navbar-menu_container-links a:any-link {
  color: black;
  text-decoration: none;
  font-family: var(--Font-Secondary);
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.lemon__navbar-menu svg {
  cursor: pointer;
}

.lemon__navbar-menu {
  display: none;
  position: relative;
  order: -1;
}

.lemon__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: whitesmoke;
  padding: 2rem;
  position: absolute;
  top: 40px;
  left: 0;
  margin-top: 1rem;
  min-width: 200px;
  border-radius: 16px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.lemon__navbar-links a:is(:hover, :active),
.lemon__navbar-menu_container-links a:is(:hover, :active) {
  color: var(--Color-Primary);
}

@media screen and (max-width: 1180px) {
  .lemon__navbar-links {
    gap: 1rem;
  }
  .login-loggedin {
    gap: 1rem;
  }

  .lemon__navbar-links a:any-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .lemon__navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .lemon__navbar-links {
    display: none;
  }
}
